<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
    	.img-logo{
        float: right;
      }
      .foot{
        width: 100%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p>ROÁN</p> <br>
    <img class="img-logo" src="../../../assets/img/big-logo.png">
    <hr>
    <div class="foot">
      <h3>El servicio incluye material y mano de obra</h3>
      <h4>Los precios son una aproximación</h4>
    </div>
  </body>
</html>