<h1>{{title}}</h1>

<table class="table">
  <tbody>
    <tr *ngFor="let presupuesto of presupuestos | search: busqueda async">
      <td class="text-left col-lg-9">
          <strong>{{presupuesto.proyecto}}</strong><br>
          <p>{{presupuesto.descripcion}}
            <span *ngIf="presupuesto.status && presupuesto.status == 'APROBADO'"><em class="fas fa-circle online-point text-color-success"></em> Aprobado</span>
            <span *ngIf="presupuesto.status && presupuesto.status == 'RECHAZADO'"><em class="fas fa-circle online-point text-color-danger"></em> Rechazado</span>
          </p>
          </td>
      <td class="text-right col-lg-3">
          <a href="{{url}}api/pdf/{{presupuesto.url}}" target="_blank" class="text-color-primary pointer"><i class="far fa-eye"></i></a>
          <a (click)="status(presupuesto.id, 'APROBADO')" class="text-color-success little-margin-left pointer"><i class="fas fa-check"></i></a>
          <a (click)="status(presupuesto.id, 'RECHAZADO')" class="text-color-danger little-margin-left pointer"><i class="fas fa-times"></i></a>
      </td>
    </tr>
  </tbody>
</table>