<div >
  <h2>Administración de usuarios y roles</h2>    
  
  <div class="row" style="padding-left: 20px;">
    <div class="col-lg-6">
        <h4><strong>Asignar rol a usuario</strong></h4>
          <form class="form-horizontal" #formAdd = "ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Usuario:</label>
              <div class="col-sm-10">
                <select class="form-control" name="id_usuario" id="id_usuario" [(ngModel)]="id_usuario">
                  <option *ngFor="let usuario of usuarios; let i = index" [value]="usuario.id">
                    {{usuario.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Rol:</label>
              <div class="col-sm-10"> 
                  <select class="form-control" name="id_rol" id="id_rol"  [(ngModel)]="id_rol">
                      <option *ngFor="let rol of roles" [value]="rol.id">
                        {{rol.name}}
                      </option>
                  </select>
              </div>
            </div>
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">ASIGNAR</button>
              </div>
            </div>
          </form>
    </div>
    <div class="col-lg-6">
      <h4><strong>Asignar permiso a un rol</strong></h4> 
      <form class="form-horizontal" #formPermisos = "ngForm" (ngSubmit)="onSubmitPermisos()">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Rol:</label>
            <div class="col-sm-10">
              <select class="form-control" name="id_rol" id="id_rol" [(ngModel)]="id_rol_permiso">
                <option *ngFor="let rol of roles" [value]="rol.id">
                  {{rol.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Permiso:</label>
            <div class="col-sm-10"> 
                <select class="form-control" name="id_permiso" id="id_permiso"  [(ngModel)]="id_permiso">
                    <option *ngFor="let permiso of permisos" [value]="permiso.id">
                      {{permiso.name}}
                    </option>
                </select>
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">ASIGNAR</button>
            </div>
          </div>
        </form>

    </div>
  </div>

  

  <hr>
  <h4><strong>Lista de usuarios</strong></h4>
  <table class="table">
    <thead>
      <tr>
        <th>Código identificador</th>
        <th>Rol</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody *ngFor="let usuario of usuarios">
      <tr>
        <td>{{usuario.id}}</td>
        <td>{{usuario.role}}</td>
        <td>{{usuario.name}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <a href="#usuario-{{usuario.id}}" data-toggle="modal" role="button" class="btn btn-light"><i class="far fa-edit"></i></a>
          <button class="btn btn-danger little-margin-left"><i class="fas fa-user-times"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="abrirModalAddUser()" class="btn btn-primary">Nuevo</button>
  <hr>
  <div class="row">
    <h4><strong>DETALLES</strong></h4>

    <div class="col-lg-6">
      <h4><strong>Roles de usuario</strong></h4>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Rol:</label>
            <div class="col-sm-10">
              <select class="form-control" name="id_rol_detalle" id="id_rol_detalle" [(ngModel)]="id_rol_detalle">
                <option *ngFor="let rol of roles; let i = index" [value]="rol.id">
                  {{rol.name}}
                </option>
              </select>
            </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" (click)="verPermisos()">
              Ver permisos
            </button>
          </div>
        </div>
      </form>
  </div>
  <div class="col-lg-6">
    <h4><strong>Descripción de permisos</strong></h4> 
    <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Permiso:</label>
          <div class="col-sm-10"> 
              <select class="form-control" name="id_permiso_descripcion" id="id_permiso_descripcion" [(ngModel)]="id_permiso_descripcion">
                <option *ngFor="let permiso of permisos" [value]="permiso.id">
                  {{permiso.name}}
                </option>
              </select>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" (click)="verDescripcion()">Ver descripción</button>
          </div>
        </div>
      </form>
  </div>
  </div>
</div>


<!-- Modal para mostrar permisos de un rol-->
<div class="modal fade" id="detalleRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Permisos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item pointer"  *ngFor="let permiso of permisos_detalle">
              {{permiso}}
          </li> 
        </ul> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button> 
      </div>
    </div>
  </div>
</div>


<!-- Modal para mostrar descripción de un permiso-->
<div class="modal fade" id="detallePermiso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{detallePermiso().name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p styles="font-size: 20px;">
          {{detallePermiso().description}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button> 
      </div>
    </div>
  </div>
</div>
<!--Fin modal detalles-->



  <!-- Modal para agregar un nuevo proyecto -->
  <div class="modal fade" id="nuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form #nuevoForm="ngForm" (ngSubmit)="sumbitUsuario()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="exampleModalLabel">Agrega un nuevo proyecto</h5> 
          </div>
          <div class="modal-body">
            
            <div class="form-group" style="text-align: start;">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" #name="ngModel" [(ngModel)]="nuevo.name" name="name" id="name" required>
            </div> 
            <div class="form-group" style="text-align: start;">
              <label for="phone">Teléfono:</label>
              <input type="text" class="form-control" #phone="ngModel" [(ngModel)]="nuevo.phone" name="phone" id="phone" required>
            </div> 
            <div class="form-group" style="text-align: start;">
              <label for="address">Dirección:</label>
              <input type="text" class="form-control" #address="ngModel" [(ngModel)]="nuevo.address" name="address" id="address" required>
            </div> 
            <div class="form-group" style="text-align: start;">
              <label for="email">Email:</label>
              <input type="text" class="form-control" #email="ngModel" [(ngModel)]="nuevo.email" name="email" id="email" required>
            </div> 
            <div class="form-group" style="text-align: start;">
              <label for="password">Contraseña:</label>
              <input type="text" class="form-control" #password="ngModel" [(ngModel)]="nuevo.password" name="password" id="password" required>
            </div> 
            <div class="form-group" style="text-align: start;">
                <label for="imagen">Foto de perfil:</label>
                <input type="file" class="form-control" (change)="fileChangeEvent($event)">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Fin modal nuevo usuario-->